* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
.dot {
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 15px;
  margin: 6px;
}

.active {
  background-color: #F0145A;
  display: inline-block;
  color: #fff;
  padding: 5px 7px 5px 7px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14.6px;
  font-weight: 700;
  transition-duration: 0.4s;
}

.active:hover {
  background: #F5F5FA;
  border: none;
  border-radius: 8px;
  color: #B3B3BA;
}

.header-light {
  min-height: 0.05%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 5000px) {
  .header-light .header-logo__mobile {
    display: none;
  }
}
@media screen and (max-width: 930px) {
  .header-light {
    justify-content: center;
    align-items: flex-start;
  }
  .header-light .header-logo {
    display: none;
  }
  .header-light .header-logo__mobile {
    display: block;
    padding: 30px 0 15px 0;
  }
}
@media screen and (max-width: 640px) {
  .header-light {
    display: none;
  }
}
.header-light .header-logo {
  padding-top: 50px;
  padding-left: 60px;
}
@media screen and (max-width: 640px) {
  .header-light .header-logo__mobile {
    display: none;
  }
}
.header-light .header-right {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .header-light .header-right .header-right-info {
    padding: 0 auto;
  }
}
.header-light .header-right .header-right-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 60px 0 0;
}
.header-light .header-right .header-right-info .header-right-info__buttons {
  display: flex;
}
.header-light .header-right .header-right-info .header-right-info__buttons .header-button {
  background: transparent;
  color: #B3B3BA;
  padding: 5px 7px 5px 7px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14.6px;
  font-weight: 700;
  transition: 0.4s;
}
.header-light .header-right .header-right-info .header-right-info__buttons .header-button:hover {
  background: #F5F5FA;
  border: none;
  border-radius: 8px;
}
.header-light .header-right .header-right-info span {
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-weight: 400;
  padding: 2.5px 0;
  color: #B3B3BA;
}
.header-light .header-right .header-right-info a {
  text-decoration: none;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-weight: 700;
  color: #B3B3BA;
}
.header-light .header-right .header-right-info .header-icon:hover svg path {
  fill: #F0145A;
}
.header-light .header-right .header-nav {
  align-self: flex-end;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  grid-gap: 15px;
  padding-top: 15px;
}
@media screen and (max-width: 930px) {
  .header-light .header-right .header-nav {
    align-self: unset;
  }
}
.header-light .header-right .header-nav a {
  padding: 0 0 3px 0;
  font-family: Montserrat-Bold;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #24A3FF;
  border-bottom: 2px solid transparent;
  transition-duration: 0.4s ease;
}
.header-light .header-right .header-nav a:hover {
  border-bottom: 2px solid #24A3FF;
}
.header-light .header-right .header-nav .current {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
.header-light .header-right .header-nav .current:hover {
  border-bottom: 2px solid #F0145A;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 5000px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile .header-mobile__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5FA;
  padding: 12.5px 15px;
}
.header-mobile .header-mobile__top .header-button {
  background: transparent;
  color: #B3B3BA;
  padding: 5px 7px 5px 7px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14.6px;
  font-weight: 700;
  transition: 0.4s;
}
.header-mobile .header-mobile__top .header-button:hover {
  background: #ffffff;
  border: none;
  border-radius: 8px;
}
.header-mobile .header-mobile__top .active:hover {
  background: #ffffff;
  border: none;
  border-radius: 8px;
  color: #B3B3BA;
}
.header-mobile .header-mobile__top a {
  text-decoration: none;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-weight: 700;
  color: #B3B3BA;
}
.header-mobile .header-mobile__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.header-mobile .header-mobile__bottom .header-mobile__img {
  padding-top: 5px;
}
.header-mobile .header-mobile__bottom .menuItem {
  display: block;
  margin: 15px 5px;
  font-size: 24px;
  font-weight: 700;
  color: #24A3FF;
  text-decoration: none;
  padding: 7px 0;
  background-color: #F5F5FA;
  border-radius: 12px;
  text-align: center;
  font-family: Montserrat-Bold;
}
.header-mobile .header-mobile__bottom .menuItem:hover {
  background-color: #E6E6F0;
}
.header-mobile .header-mobile__bottom .menuItem__current {
  display: block;
  margin: 32px 5px 15px 5px;
  font-size: 24px;
  font-weight: 700;
  color: #F0145A;
  text-decoration: none;
  padding: 7px 0;
  background-color: #F5F5FA;
  border-radius: 12px;
  text-align: center;
  font-family: Montserrat-Bold;
}
.header-mobile .header-mobile__bottom .menuItem__current:hover {
  background-color: #E6E6F0;
}
.header-mobile .header-mobile__bottom .hamburger {
  position: absolute;
  z-index: 100;
  right: 16px;
  border: none;
  background: white;
  cursor: pointer;
  transition: 0.4s ease;
}
.header-mobile .header-mobile__bottom .hamburger:hover {
  background: #E6E6F0;
  border-radius: 8px;
}
.header-mobile .header-mobile__bottom .closeIcon {
  display: none;
  transition: 0.4s ease;
  background: #FFFFFF;
}
.header-mobile .header-mobile__bottom .closeIcon:hover {
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
}
.header-mobile .header-mobile__bottom .menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.6s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50;
  z-index: 0;
  background: #FFFFFF;
  color: white;
  list-style: none;
  padding: 64px 12px;
  margin: 0 1px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.header-mobile .header-mobile__bottom .showMenu {
  transform: translateY(50px);
}

.main {
  display: flex;
  flex-direction: row;
  text-align: start;
  min-width: none;
  width: 100%;
  padding: 60px 180px;
}
.main .main-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-start;
  padding-right: 30px;
}
.main .main-left h2 {
  font-size: 38px;
  font-weight: 700;
  font-family: Montserrat-Bold;
  background: linear-gradient(45deg, #EF8080, #F0145A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 15px;
  line-height: 46.32px;
}
.main .main-left p {
  min-width: 100%;
  font-size: 19px;
  font-weight: 400;
  font-family: Montserrat-Regular;
  color: #000000;
  line-height: 30px;
  max-width: 40vh;
  padding-top: 30px;
}
.main .main-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 30px;
  border-left: 4px solid #E6E6F0;
}
.main .main-right .article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 15px;
}
.main .main-right .article p {
  padding: 10px 0 40px 0;
  color: #323264;
  font-family: Motserrat-Regular;
  font-size: 16px;
  font-weight: 400px;
  line-height: 19.5px;
}

@media screen and (max-width: 1200px) {
  .main {
    padding: 60px;
  }
}
@media screen and (max-width: 786px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .main-left {
    width: 100%;
  }
  .main .main-right {
    width: 100%;
    padding-top: 30px;
  }
  .main h2 {
    font-size: 30px;
    line-height: 36.57px;
  }
  .main p {
    padding-bottom: 30px;
  }
}
.team {
  width: 100%;
  display: flex;
}
.team .main_img {
  width: 100%;
  display: flex;
}
.team .main_img img {
  background-size: cover;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: row;
  padding: 60px 180px;
  width: 100%;
}
.description .description-left {
  display: flex;
  width: 60%;
}
.description .description-left p {
  font-size: 19px;
  font-weight: 400;
  font-family: Montserrat-Regular;
  color: #000000;
  line-height: 30px;
  max-width: 40vh;
  text-align: start;
  padding-top: 30px;
  min-width: 100%;
  padding-right: 30px;
}
.description .description-right {
  width: 40%;
  display: flex;
}
.description .description-right h2 {
  font-size: 38px;
  font-weight: 700;
  font-family: Montserrat-Bold;
  background: linear-gradient(45deg, #EF8080, #F0145A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  line-height: 46.32px;
  text-align: start;
  padding-left: 30px;
}

@media screen and (max-width: 1200px) {
  .description {
    padding: 60px;
  }
}
@media screen and (max-width: 786px) {
  .description {
    display: flex;
    flex-direction: column;
  }
  .description .description-left {
    width: 100%;
  }
  .description .description-right {
    width: 100%;
  }
  .description .description-right h2 {
    padding-left: 0;
    font-size: 30px;
    line-height: 36.57px;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5FA;
  width: 100%;
}
.cards h3 {
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #323264;
  padding-top: 30px;
}
.cards .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
  width: 80%;
}
.cards .cards-wrapper .card {
  display: flex;
  padding: 30px 0;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.cards .divider {
  display: flex;
  flex-direction: row;
}
.cards .divider .current {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #24A3FF;
}
.cards .divider div {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgba(36, 164, 255, 0.2);
  margin-left: 15px;
}
.cards .divider div:hover {
  background-color: rgba(36, 164, 255, 0.6);
}
.cards .divider .current:hover {
  background-color: #24A3FF;
}
.cards .divider-mobile {
  display: flex;
  flex-direction: row;
}
.cards .divider-mobile .current {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #24A3FF;
}
.cards .divider-mobile div {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgba(36, 164, 255, 0.2);
  margin-left: 15px;
}
.cards .divider-mobile div:hover {
  background-color: rgba(36, 164, 255, 0.6);
}
.cards .divider-mobile .current:hover {
  background-color: #24A3FF;
}
@media screen and (max-width: 5000px) {
  .cards .divider {
    display: flex;
  }
  .cards .divider-mobile {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .cards .divider {
    display: none;
  }
  .cards .divider-mobile {
    display: flex;
  }
}

@media screen and (max-width: 1440px) {
  .cards .cards-wrapper {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 640px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .cards .cards-wrapper {
    display: flex;
    flex-direction: row;
    transform: scale(1);
    width: 100%;
  }
  .cards .cards-wrapper .card {
    width: 100%;
    display: none;
  }
  .cards .cards-wrapper .card:first-child {
    display: flex;
    margin: 30px 60px;
  }
}
footer {
  background-color: #F5F5FA;
  padding: 30px 160px;
  width: 100%;
}
@media screen and (max-width: 1500px) {
  footer {
    padding: 30px 60px;
  }
}
footer hr {
  color: rgba(230, 230, 240, 0.1);
  background-color: rgba(245, 245, 250, 0.2);
  width: 100%;
  align-self: center;
  justify-self: center;
}
footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}
@media screen and (max-width: 790px) {
  footer .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
footer .footer-info .footer-left {
  display: flex;
  flex-direction: column;
}
footer .footer-info .footer-left .footer-left__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 790px) {
  footer .footer-info .footer-left .footer-left__top {
    display: flex;
    flex-direction: column;
  }
}
footer .footer-info .footer-left .footer-left__top span {
  color: #323264;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
footer .footer-info .footer-left .footer-left__top a {
  color: #24A3FF;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  font-family: Montserrat-Bold;
  line-height: 14.63px;
}
footer .footer-info .footer-left .footer-left__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 21px;
}
@media screen and (max-width: 790px) {
  footer .footer-info .footer-left .footer-left__bottom {
    display: flex;
    flex-direction: column;
  }
}
footer .footer-info .footer-left .footer-left__bottom .footer-bottom__img:hover svg path {
  fill: #F0145A;
}
footer .footer-info .footer-left .footer-left__bottom a {
  color: #46466E;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-decoration: none;
  font-family: Montserrat-Bold;
}
footer .footer-info .footer-left .footer-left__bottom .footer-form {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  font-family: Montserrat-Bold;
  transition-duration: 4s ease;
}
footer .footer-info .footer-left .footer-left__bottom .footer-form a {
  text-decoration: none;
}
footer .footer-info .footer-left .footer-left__bottom .footer-form:hover {
  color: #F0145A;
}
footer .footer-info .footer-right {
  color: #B3B3BA;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
@media screen and (max-width: 790px) {
  footer .footer-info .footer-right {
    align-self: center;
    padding-top: 30px;
  }
}

/*# sourceMappingURL=about.css.map */
